.App {
  text-align: center;
}
.App-header {
  background-color: #a2abce;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

nav {
  position: sticky;
  display: flex;
  background-color: lightblue;
  justify-content: space-around;
  min-height: 10vh;
  color: white;
  align-items: center;
}

.nav-links {
  width: 20%;
  list-style: none;
  justify-content: space-around;
  display: flex;
}

nav .h3-link {
  text-decoration: none;
}

#search-div {
  max-width : 80em;
  margin: 0 auto;
}

.search-result {
  margin: 0 auto;
  max-width: 80em;
}

.article-title {
  margin-top: 2em;
}

.article-body {
  margin-top: 2em;
}

.article-tags {
  margin-top: 2em;
}

.tag {
  margin-left: 1em;
}

.margind {
  margin-top: 1em;
}